.headerPanel {
	background-color: #313131;
}

.pageBackground {
	background-color: white;
}

.resultsBriefPanel {
	background: rgba(0, 0, 0, 0.7);
}

.secondHeaderPanel {
	background: rgba(0, 0, 0, 0.7);
	border-bottom-style: solid;
	border-bottom-color: silver;
	border-bottom-width: 1px;
}

.categoryResutsPanel {
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
}

.subCategoryResutsPanel {
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
}

.resultsImagePanel {
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.timeOfTheDay {
	background: rgba(0, 0, 0, 0.7);
}

.tabPanel {
	background-color: white;
}

.footerPanel {
	background-color: #313131;
}

.footerContent a:link {
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
	color: silver;
}

.footerContent a:hover {
	color: silver;
}

.footerContent a:visited {
	color: silver;
}

.footerContent a:active {
	color: silver;
}

.suggestBox {
	border-radius: 4px;
	padding: 0px 40px 0px 15px;
	border: 1px solid #CCCCCC;
	font-size: 16px;
}

.searchBtn {
	cursor: pointer;
}

.button {
	border-radius: 5px;
	color: black;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 15px;
	cursor: pointer;
	background-color: white;
	text-align: center;
}

.lblHierNormal {
	color: black;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
}

.lblHierNormalActive {
	color: black;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
}

.lblHierNormalActive:hover {
	color: #e28b2e;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.listBox {
	font-size: 10px;
}

.withinLabel {
	color: silver;
	font-family: "Arvo", Helvetica, sans-serif; //
	font-size: 11px; //
	font-weight: bold;
}

.chooseButton {
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.withinPlace {
	color: silver;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 16px; //
	font-weight: bold;
}

.address {
	color: silver;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px; //
	font-weight: bold;
}

.resultsDetailTitle {
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 19px;
	color: silver;
}

.resultsDetails {
	color: silver;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px; //
	font-weight: bold;
}

.chkBox {
	color: silver;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
}

.chkBoxBlack {
	color: black;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
}

.selCategoryText {
	color: silver;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px; //
	font-weight: bold;
	word-wrap: break-word;
}

.imgLogo {
	cursor: pointer;
}

.image {
	cursor: pointer;
}

.imageCaption {
	cursor: pointer;
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 14px;
	word-wrap: break-word;
}

.gridBackground {
	background: rgba(0, 0, 0, 0.7);
}

.timingsPanel {
	background-color: orange;
}

.infoPanel {
	border-top: 2px solid silver;
}

.timings {
	font-family: "Arvo", Helvetica, sans-serif;
	color: white;
	font-size: 14px;
}

.info {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 14px;
}

.btnMoreDetails {
	cursor: pointer;
	font-family: "Arvo", Helvetica, sans-serif;
	color: orange;
	font-size: 14px;
}

.briefDesc {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 14px;
	word-wrap: break-word;
	text-align: justify;
}

.noContent {
	font-family: "Arvo", Helvetica, sans-serif;
	color: white;
	font-size: 14px;
	word-wrap: break-word;
	text-align: center;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	border: 1px solid orange;
	padding: 5px 5px 5px 5px;
}

.contributeText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: black;
	font-size: 14px;
	word-wrap: break-word;
}

.silverText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 16px;
	word-wrap: break-word;
}

.blackText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: black;
	font-size: 16px;
	word-wrap: break-word;
}

.greyText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: #313131;
	font-size: 16px;
	word-wrap: break-word;
}

.orangeText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: orange;
	font-size: 16px;
	word-wrap: break-word;
}

.orangeBoldText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: orange;
	font-size: 16px;
	font-weight: bold;
	word-wrap: break-word;
}

.contributePanelBG {
	background: rgba(0, 0, 0, 0.7);
}

.srcDstPanelBG {
	background: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid silver;
}

.boxBG {
	border: 1px solid #CCCCCC;
}

.backPanel {
	background: rgba(255, 255, 255, 0.7);
}

.userAuthenticateBG {
	background: rgba(0, 0, 0, 0.7);
}

.userAuthenticationDialogBox {
	
}

.userAuthenticationDialogBoxHTML {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 16px;
	word-wrap: break-word;
}

.userAuthenticationDialogBox .dialogContent {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 18px;
	word-wrap: break-word;
}

.userAuthenticationDialogBox .Caption {
	font-family: "Arvo", Helvetica, sans-serif;
	color: orange;
	font-size: 18px;
	word-wrap: break-word;
}

.listBoxWithin {
	font-family: "Arvo", Helvetica, sans-serif;
	color: black;
	font-size: 12px;
}

.about {
	font-family: "Arvo", Helvetica, sans-serif;
	color: orange;
	font-size: 18px;
}

.aboutContent {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 15px;
}

.boxText {
	font-family: "Arvo", Helvetica, sans-serif;
	font-weight: bold;
	color: orange;
	font-size: 19px;
	text-align: center;
	cursor: pointer;
}

.boxLogoText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.boxValueText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 14px;
	word-wrap: break-word;
}

.whiteText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: white;
	font-size: 16px;
	text-align: center;
}

.boxValueAddressText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: #313131;
	font-size: 12px;
	word-wrap: normal;
}

.boxValuePositionText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: #313131;
	font-size: 13px;
	word-wrap: normal;
}

.ratingValue {
	font-family: "Arvo", Helvetica, sans-serif;
	color: orange;
	font-size: 15px;
	word-wrap: normal;
	background: rgba(0, 0, 0, 0.7);
}

.boxResultPanelEven {
	background-color: #ededed;
}

.srcDstInfoText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: #313131;
	font-size: 15px;
	word-wrap: normal;
}

.srcDstText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 15px;
	word-wrap: normal;
}

.boxError {
	font-family: "Arvo", Helvetica, sans-serif;
	color: black;
	font-size: 15px;
	word-wrap: normal;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	padding: 2px 2px 2px 2px;
	background-color: white;
}

.routeBriefPanel {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}

.routeBriefText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: black;
	font-size: 14px;
	word-wrap: normal;
}

.routeInfoText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: white;
	font-size: 14px;
	word-wrap: normal;
}

.menuNormal {
	cursor: pointer;
	opacity: 0.8;
}

.menuNormal:hover {
	cursor: pointer;
	opacity: 1;
}

.menuPanel {
	background-color: #f0f0f0;
	border-radius: 4px 4px 4px 0px;
}

.menuItemText {
	cursor: pointer;
	font-family: "Arvo", Helvetica, sans-serif;
	color: black;
	font-size: 14px;
	word-wrap: normal;
	padding-top: 4px;
	padding-bottom: 4px;
	text-indent: 6px;
}

.menuItemText:hover {
	background-color: grey;
	color: white;
	cursor: pointer;
}

.loginText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 14px;
}

.loginTextBlack {
	font-family: "Arvo", Helvetica, sans-serif;
	color: black;
	font-size: 14px;
}

.loginPanel {
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
}

.loginPanel:hover {
	background-color: #545454;
}

.loginPanelWhite {
	background-color: white;
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
}

.loginDetailsPanel {
	background-color: white;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.boxMenuPanel {
	background-color: orange;
}

.buttonMenu {
	border-radius: 4px;
	color: black;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 15px;
	cursor: pointer;
	background-color: white;
	text-align: center;
}

.itineraryBG {
	background: rgba(0, 0, 0, 0.7);
	text-indent: 20px;
}

.silverContributeText {
	font-family: "Arvo", Helvetica, sans-serif;
	color: silver;
	font-size: 14px;
}

.itineraryLoginError {
	font-family: "Arvo", Helvetica, sans-serif;
	color: orange;
	font-size: 14px;
	text-indent: 10px;
}

.lblHierPanel {
	background: rgba(255, 255, 255, 0.9);
}

.itineraryNormal {
	color: silver;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
}

.itineraryActive {
	color: silver;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
	text-indent: 5px;
}

.itineraryActive:hover {
	color: orange;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.popUpPanel {
	background: rgba(255, 255, 255, 0.4);
}

.boxBtnAdd {
	background-color: #313131;
	color: white;
	font-family: "Arvo", Helvetica, sans-serif;
	font-size: 13px;
	cursor: pointer;
	text-align: center;
	border: 0px;
}
